#displayDiv{
    text-align: center;
}
button {
    background-color: skyblue;
    color: white;
    border-color: transparent;
    margin:5px;
}
.albumButton{
    margin: 10px;
    font-size: 40px;
    padding: 10px;
}

.albumButtonDiv {
    float: left;
}
#albumButtons {
    width: 550px;
    margin: 0 auto;
}
#albumsBack{
    float: left;
}

img {
    margin: 5px;
}
#albumForm {
    margin: 0 auto;
}

.submit {
    background-color: skyblue;
    color: white;
    border-color: transparent;
}
#albumName {
    width: 300px;
}

.userPhoto {
    max-height: 350px;
    max-width: 350px
}

@media screen and (max-width: 600px) {

    #albumButtons {
        width: 100%;

    }
    }