.nav-wrapper {
    background-color: skyblue;
}

#logoutButton {
    background-color: transparent;
    border-color: transparent;
}

#drop {
    float: right;
    color:white;
    width: 200px;

}
#menu {   
     background-color: skyblue;
     border-color: transparent;
     box-shadow: 0px;
     width: 200px;
    }
.navItem {
    background-color:skyblue;
    color: white;
    padding-top: 0px;


}

#modalLi {
    height: 40px;
}
.modalButton {
    background-color: skyblue;
    margin: 2px;
}
.textP {
    color: white;
} 
.dropdown-content li>a, .dropdown-content li>span {
    padding: 0px;
    margin: 0px;
    height: 100%;
    margin-top: 0px;
    text-align: center;
    width: 200px;
}