.nav-wrapper {
    background-color: skyblue;
}

#logoutButton {
    background-color: transparent;
    border-color: transparent;
}

#drop {
    float: right;
}
#menu {   
     background-color: skyblue;
     border-color: transparent;
     box-shadow: 0px;
    }
.navItem {
    background-color:skyblue;
}

#modalLi {
    height: 40px;
}
.modalButton {
    background-color: skyblue;
    margin: 2px;
}