.nav-wrapper {
    background-color: skyblue;
}

#logoutButton {
    background-color: transparent;
    border-color: transparent;
    color: white;
    background-color: skyblue;
}

#drop {
    float: right;
    text-align: center;
}

.button {
    margin: 0;
    width: 200px;

}
 #menu {   
     background-color: skyblue;
     border-color: transparent;
     box-shadow: 0px;
     width: 200px;
    }

.modalButton {
    background-color: skyblue;
    margin: 2px;
}

.dropdown-content li {
    padding-bottom: 0px;
}

